doctype html
html
    head
        title= "Customer Manager"
        link(href="stylesheets/bootstrap.css" ,rel="stylesheet")
        link(href="stylesheets/bootstrap-responsive.min.css" ,rel="stylesheet")
        link(href="stylesheets/styles.css", rel="stylesheet")
        link(href="stylesheets/animations.css", rel="stylesheet")

    block content

    script(src="/javascripts/angular.js")
    script(src="/javascripts/angular-route.js")
    script(src="/javascripts/angular-animate.js")
    script(src="/javascripts/angular-ui-bootstrap.js")
    script(src="/javascripts/tweenMax.min.js")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/q.min.js")
    script(src="/javascripts/breeze.min.js")
    script(src="/javascripts/to$q.js")
    script(src="/javascripts/require.js",data-main="/javascripts/main")